.home-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.home-comment{
    color: #14274a;
    font-size: 19px;
    font-weight: 500;
}

.component-1{
    margin-top: 40px;
}

.component-2{
    margin-top: 20px;
}
