.container{
    width: 830px;
    height: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid #14274a;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bottom{
    width: 100%;
}

.room-type
{
    text-align: center;
    background-color: #14274a;
    font-size: 29px;
    color: white;
    font-family: Trebuchet MS;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 600;
}

.view-container{
    display: flex;
    flex-direction: row;

}

.cost{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    justify-content: flex-start;
}

.view{
    color:  #14274a;
    font-weight: 700;
    font-family: Trebuchet MS;
    margin-left: 20px;
    font-size: 14px;
}

.per-night{
    width: 110px;
    padding: 10px;
    background-color: #e0b973;
    border-radius: 5px;
    margin-left: 340px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    font-family: Trebuchet MS;
    text-align: center;
}

.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid white;
  }

  .dots{
      display: flex;
      margin-bottom: 25px;
      width: 55px;
      justify-content: space-between;
     
  }

  .fill{
      background-color: white;
  }

  .top{
      height: 400px;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      width: 100%;
      justify-content: center;
  }
