.container-c{
    background-color: hsl(219, 57%, 18%);
    padding-bottom: 100px;
    }

    .contact-Us{
        margin-top: 60px;
        font-size: 50px;
        font-weight: 600;
        color: white;
        margin-left: 500px;
    }

